name: dotnet
description: "The Empathetech mission is to re-balance the power in tech by making self hosting more accessible."
version: 6.0.1
publish_to: 'none'

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # Flutter (Google)
  go_router: ^17.1.0
  http: ^1.6.0
  intl: ^0.20.2
  shared_preferences: ^2.5.4
  url_launcher: ^6.3.2
  video_player: ^2.11.0

  # Community
  flutter_localized_locales: ^2.0.5
  font_awesome_flutter: ^10.12.0
  line_icons: ^2.0.3
  provider: ^6.1.5+1
  shimmer:
    git: 
      url: https://github.com/jinyus/flutter_shimmer
  
  # Empathetech
  efui_bios:
    path: ../efui_bios
  empathetech_flutter_ui:
    path: ../empathetech_flutter_ui

dev_dependencies:
  dependency_validator: ^5.0.4
  flutter_launcher_icons: ^0.14.4
  flutter_lints: ^6.0.0
  flutter_native_splash: ^2.4.7
  
flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/
    - assets/images/
    - assets/images/app-icon.png
    - assets/images/fah.png
    - assets/images/founder.png
    - assets/images/la-grenouille.png
    - assets/images/las-rosas.png
    - assets/images/loading-dark.gif
    - assets/images/loading-light.gif
    - assets/images/montana-headshot.jpg
    - assets/images/open-sauce-2025.jpg
    - assets/images/open-sauce-logo.png
    - assets/images/open-ui-icon.png
    - assets/images/smoke-signal-icon.png
    - assets/images/sos-icon.png
    - assets/images/the-hood.png
    - assets/videos/
    - assets/videos/eag-demo.mp4
    - assets/videos/sos-promo.mp4
    - assets/videos/sos-promo-vertical.mp4
    - assets/videos/captions/sos-promo-en.srt
    - assets/videos/captions/sos-promo-es.srt
    - assets/videos/captions/sos-promo-fr.srt

flutter_launcher_icons:
  image_path: assets/images/app-icon.png
  adaptive_icon_foreground: assets/images/app-icon.png
  adaptive_icon_background: "#000000"
  android: false
  ios: false
  web:
    generate: true
  windows:
    generate: false
  macos:
    generate: false

flutter_native_splash:
  image: assets/images/loading-light.gif
  color: "#F3F3F3"
  image_dark: assets/images/loading-dark.gif
  color_dark: "#171717"
  android: false
  ios: false
  web: true
